.miestilito{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: green;


}

.textololailo{

    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: aquamarine;

}


#textoImportante{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: brown;
}

.miboton{
    background-color: chartreuse;
    color:white;
    font-size: small;

}


.miboton:hover{
    background-color: rgb(48, 15, 195);
    color:rgb(197, 26, 26);
    font-size: medium;

}